.car-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
  border: 1px solid;
  padding: 20px;
}

#model-input {
  margin-top: 16px;
}
