.homepage {
  position: relative;
  height: 100vh; /* Full viewport height */
  width: 100%;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), /* Top shading */
      rgba(0, 0, 0, 0.5)
    ), 
    url('../img/Background.jpg'); /* Replace with your image path */
  background-size: cover; /* Make sure the image covers the whole area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  color: white;
}

.overlay {
  position: relative; /* Change to relative since gradient handles background shading */
  flex: 1; /* Takes up the available space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay h1 {
  color: white; /* Make the text stand out */
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add a shadow for better contrast */
}

#home-text{
  
  margin-bottom: 100px;
  color: white;
  
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
